{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Register</title>
    <style>
        body{
            
            background-image: url('/static/images/Shopery.png');
        }
        /* General styling for the navigation */

    </style>
</head>
<body>
   
    <div class="container">
        <h2>Register</h2>
        <div class="body">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    
</body>
</html>
